<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>hfjPay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CCB4D5F61C0FDF2A00F70922</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCB4D60F1C0FDF2A00F70922</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCB4D61A1C0FDF2A00F70922</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
